<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>主页</strong></a>
      <li class="nav-link"><a href="https://ZhangJianLab.github.io/research"><strong>科研成果</strong></a>
      <li class="nav-link"><a href="https://ZhangJianLab.github.io/about"><strong>竞赛成果</strong></a>
      <li class="nav-link"><a href="https://ZhangJianLab.github.io/people"><strong>实验室成员</strong></a>
      <li class="nav-link"><a href="https://ZhangJianLab.github.io/tutorials"><strong>相关网址</strong></a>
      </ul>
    </nav>
  </div>
</header>
