<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>
      <li class="nav-link"><a href="https://pesoto.github.io/research"><strong>Research</strong></a>
      <li class="nav-link"><a href="https://pesoto.github.io/about"><strong>About Me</strong></a>
      <li class="nav-link"><a href="https://pesoto.github.io/tutorials"><strong>Tutorials</strong></a>
      </ul>
    </nav>
  </div>
</header>
