---
layout: default
---
<div class="wrapper">
<div class="page">

  <header class="post-header">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108085250-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108085250-1');
</script>


    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
</div>
